# created by virtualenv automatically
**/__pycache__/
**/node_modules/
.env
.DS_store
.vscode

# Don't upload user profile pictures
server/static/pfp/*
# But allow the .gitkeep file to be tracked (if present)
!server/static/pfp/.gitkeep