/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* Taken  from */
:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-brand-hover: var(--color-primitives-brand-900);
  --color-background-brand-tertiary: var(--color-primitives-brand-100);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-background-default-default-hover: var(--color-primitives-gray-100);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-background-default-secondary-hover: var(--color-primitives-gray-200);
  --color-background-disabled-default: var(--color-primitives-brand-300);
  --color-background-neutral-tertiary: var(--color-primitives-slate-200);
  --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-border-disabled-default: var(--color-primitives-brand-400);
  --color-border-neutral-secondary: var(--color-primitives-slate-600);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-brand-300: rgba(217, 217, 217, 1);
  --color-primitives-brand-400: rgba(179, 179, 179, 1);
  --color-primitives-brand-600: rgba(68, 68, 68, 1);
  --color-primitives-brand-700: rgba(56, 56, 56, 1);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
  --color-primitives-brand-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-100: rgba(245, 245, 245, 1);
  --color-primitives-gray-200: rgba(230, 230, 230, 1);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --color-primitives-gray-700: rgba(56, 56, 56, 1);
  --color-primitives-gray-800: rgba(44, 44, 44, 1);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-slate-1000: rgba(36, 36, 36, 1);
  --color-primitives-slate-200: rgba(227, 227, 227, 1);
  --color-primitives-slate-300: rgba(205, 205, 205, 1);
  --color-primitives-slate-500: rgba(148, 148, 148, 1);
  --color-primitives-slate-600: rgba(118, 118, 118, 1);
  --color-primitives-slate-900: rgba(48, 48, 48, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-disabled-on-disabled: var(--color-primitives-brand-400);
  --color-text-neutral-default: var(--color-primitives-slate-900);
  --m3-headline-small-font-family: "Roboto", Helvetica;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-font-style: normal;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
  --m3-label-medium-prominent-font-family: "Roboto", Helvetica;
  --m3-label-medium-prominent-font-size: 12px;
  --m3-label-medium-prominent-font-style: normal;
  --m3-label-medium-prominent-font-weight: 600;
  --m3-label-medium-prominent-letter-spacing: 0.5px;
  --m3-label-medium-prominent-line-height: 16px;
  --responsive-device-width: 1200px;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-font-style: normal;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-small-strong-font-family: "Inter", Helvetica;
  --single-line-body-small-strong-font-size: 14px;
  --single-line-body-small-strong-font-style: normal;
  --single-line-body-small-strong-font-weight: 600;
  --single-line-body-small-strong-letter-spacing: 0px;
  --single-line-body-small-strong-line-height: 100%;
  --size-icon-large: 40px;
  --size-radius-200: 8px;
  --size-radius-full: 9999px;
  --size-space-1600: 64px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-600: 24px;
  --size-space-800: 32px;
  --subtitle-font-family: "Inter", Helvetica;
  --subtitle-font-size: 32px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 400;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 120.00000476837158%;
  --typography-primitives-scale-06: 32px;
  --typography-primitives-scale-07: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
