@import './base.css';

#app {
  width: 1920px;
  min-height: 1080px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color:#FFFFFF
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* The below code was here but AFAICT it serves no purpose and broke the navbar -MS*/
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    padding: 0 0; 
    /* This was previously "0 2rem" but it broke the navbar */
  }
}
